.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;

  h1 {
    @media (max-width: 600px) {
      font-size: 64px;
    }
  }

  .gradientSection {
    padding: 20px 0;
    @media (max-width: 900px) {
      flex-direction: column;
    }
    @media (max-width: 705px) {
      align-items: stretch;
    }
    .gradientBlock {
      width: 690px;
      .gradient {
        margin: 15px
      }
      @media (max-width: 705px) {
        padding: 15px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .gradient {
          margin: 0 0 15px 0;
          width: calc(50% - 15px / 2);
        }
      }
      @media (max-width: 472px) {
        .gradient {
          width: 100%
        }
      }
    }
    
    .description {
      max-width: 400px;
      margin: 0 auto;
      @media (max-width: 900px) {
        text-align: center
      }
    }
  }
}
