@import '../../styles/variables.scss';

.container {
  height: 100%;
  overflow-y: auto;
  position: relative;
  display: flex;
  flex-direction: column;

  *::selection {
    background: $dark1000;
    color: white;
  }

  &_pc {
    &::-webkit-scrollbar {
      width: 12px;
      background-color: $dark800;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $dark1000;
      border-radius: 6px;
      border: 2px solid $dark800;
    }
  }

  .drawerBtn {
    position: fixed;
    top: 10px;
    left: 20px;
    z-index: 1;
  }

  .content {
    flex: 1 0 auto;
  }


  .footer {
    width: 100%;
    font-weight: 300;
    letter-spacing: 2px;
    height: $footerheight;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
  }
}

.drawer {
  position: relative;
  min-width: 230px;

  .icon {
    justify-content: center !important;
  }

  .listItem_selected {
    color: #afa0ff !important;
  }

  .themeSwitcher {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }
}

.darkSelection {
  *::selection {
    background: white;
    color: $dark1000;
  }
}