.card {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  box-shadow: rgb(0 0 0 / 30%) 2px 3px 10px 4px;

  .cardTop {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.1s;

    .cross {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      z-index: 1;
    }

    .copyText {
      z-index: 1;
      user-select: none;
    }
  }

  .cardTopHover {
    &:hover {
      opacity: 0.7;
    }
  }

  .cardBottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    min-height: 45px;
    border-radius: 0 0 25px 25px;
    cursor: pointer;
    background-color: rgb(30, 30, 30);

    &:hover {
      .copyCaption {
        margin-bottom: 3px;
      }
    }

    .copyCaption {
      user-select: none;
      display: flex;
      align-items: center;
    }
  }
}
