.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  padding: 0 15px;
  background: #323232;

  .gradient {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 0;
    // background-size: ;
  }

  .message {
    z-index: 1;
    color: rgb(21, 245, 21);
    transition: 0s ease-in;
    opacity: 0;
    @media (max-width: 768px) {
      font-size: 1rem;
    }
  }

  .message_active {
    transition: .3s ease-in;
    opacity: 1;
  }

  .gradientProperty {
    font-size: 1.5rem;
    z-index: 1;
    font-weight: 300;
    color: white;

    @media (max-width: 768px) {
      font-size: 1.125rem;
    }
  }
  
  .btnText {
    @media (max-width: 480px) {
      display: none;
    }
  }
}