@import "variables";

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: 'Roboto', sans-serif; */
  height: 100%;
  background-color: $dark800;
}

a {
  color: inherit;
  text-decoration: none;
}

*::selection {
  background: $dark1000;
}

* {
  box-sizing: border-box;
  outline: 0;
  font-family: 'Roboto', sans-serif;
}

#__next {
  height: 100%;
}
