.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .nav {
    height: 100%;
    width: 320px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(149deg, #a8fcf1 0%, #b3a8fc 42%, #a8fcb6 72%, #fca8a8 100%);
    background-size: 400%;
    animation: gradient 10s infinite linear;
    box-shadow: black 0 0 40px 2px;

    @keyframes gradient {
      0% {
        background-position: 80% 0%;
      }

      50% {
        background-position: 20% 100%;
      }

      100% {
        background-position: 80% 0%;
      }
    }

    .navLink {
      font-size: 1.75rem;
      transition: linear .3s;
      color: white;
      background: linear-gradient(90deg, #f598a8, #f6edb2, #f598a8);
      background-clip: text;
      margin-bottom: 8px;
    }

    .navLink_animation {
      color: transparent;
      animation: gradientSpin 5s infinite linear;
    }

    @keyframes gradientSpin {
      0% {
        background-position: -30vw 0
      }
      100% {
        background-position: 70vw 0
      }
    }
  }
}