.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    padding: 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @media (max-width: 600px) {
      flex-direction: column;
    }

    .actions {
      display: flex;
      flex-direction: column;
      padding-right: 20px;
      margin-right: 20px;
      border-right: 1px solid rgb(194, 194, 194);

      @media (max-width: 600px) {
        border-right: none;
        border-bottom: 1px solid rgb(194, 194, 194);
        padding-bottom: 50px;
        margin-bottom: 50px;
        align-items: center;
        padding-right: 0;
      }

      .navLink {
        font-size: 1.75rem;
        transition: linear .3s;
        color: white;
        background: linear-gradient(90deg, #f598a8, #f6edb2, #f598a8);
        background-clip: text;
        margin-bottom: 8px;
      }
  
      .navLink_animation {
        color: transparent;
        animation: gradientSpin 5s infinite linear;
      }
  
      @keyframes gradientSpin {
        0% {
          background-position: -30vw 0
        }
        100% {
          background-position: 70vw 0
        }
      }
    }

    .info {
      max-width: 400px;
      padding: 4px 0
    }
  }
}