@import 'variables.scss';

.container {
  height: 100%;
  overflow-y: auto;
  position: relative;
  display: flex;
  flex-direction: column;

  .drawerBtn {
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 1;
    color: white;
  }

  .content {
    flex: 1 0 auto;
  }


  .footer {
    width: 100%;
    font-weight: 300;
    letter-spacing: 2px;
    height: $footerheight;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    flex: 0 0 auto;
  }
}

.icon {
  justify-content: center !important;
}

.listItem_selected {
  color: #afa0ff !important;
  // color: transparent !important;
  // background: linear-gradient(90deg, #311ba6, #c87614);
  // background-clip: text;
}