@import 'variables.scss';

.container {
  height: 100%;
  overflow-y: auto;
  position: relative;
  display: flex;
  flex-direction: column;

  &_pc {
    &::-webkit-scrollbar {
      width: 8px;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $dark1000;
      border-radius: 4px;
    }
  }

  .drawerBtn {
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 1;
    color: white;
  }

  .content {
    flex: 1 0 auto;
  }


  .footer {
    width: 100%;
    font-weight: 300;
    letter-spacing: 2px;
    height: $footerheight;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    flex: 0 0 auto;
  }
}

.drawer {
  min-width: 230px;
  background-color: $dark800!important;

  .icon {
    justify-content: center !important;
  }

  .drawerText {
    font-weight: 300;
    color: white;
  }

  .listItem_selected {
    color: #afa0ff !important;
  }
}